<app-navbar></app-navbar>
<div class="customer-page mt-2">
  <div class="grid box">
    <div class="row">
      <div class="col-8 box1">
        <div class="grid ">
          <div class="row">
            <div class="col-6" style=" border-right:1px dotted #330ae1 ;height: auto;">
              <h5 style="text-align: center;" class="heading">My Power Banks</h5>
              <div class="">

                <table id="pagination" class="table power-bank-table table-striped table-bordered"
                  style="box-shadow: 0px 4px 5px rgba(128, 128, 128, 0.379);">
                  <thead class="text-white"
                    style="text-align: center;background-color: rgba(8, 38, 86, 0.696);font-size: 0.9rem;">
                    <tr>
                      <th scope="col">Cost</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Validity</th>
                      <th scope="col">End Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pb of pbData.slice(0,4)" class="text-center">
                      <td>{{pb.cost}} $</td>
                      <td>{{pb.quantity}} kW</td>
                      <td>{{pb.validity}} days</td>
                      <td>{{pb.endDate}}</td>
                    </tr>
                  </tbody>
                </table>
                <div [ngClass]="this.pb.getActivepowerBanks().getValue().length < 4 ? 'withSpace' : 'withoutSpace'">
                  <a class="text-primary">Click Here for Purchased details</a>
                </div>


              </div>
            </div>
            <div class="col-6">
              <h5 style="text-align: center;">Know My Requirement</h5>
              <form class="requirement_calc p-2">
                <i style="font-size: 13px;">Analyze your requirement by filling details below</i>
                <div class="row align-items-center">
                  <div class="col-2">
                    <img src="assets/images/EV.png" alt="EV" style="width: 50px;" >
                    <figcaption style="font-size: 10px;" class="fw-bold text-center">My EV</figcaption>
                  </div>
                  <div class="col-6">
                    <input type="number" [(ngModel)]="evValue" name="evValue" placeholder="Enter value....100"
                      class="form-control">
                  </div>
                  <div class="col-4">
                    <input type="text" value="Miles" class="form-control" disabled>
                  </div>
                </div>
                <p class="text-center text-secondary fst-italic p-0 m-0" style="font-size: 12px;">or/Both</p>
                <div class="row align-items-center">
                  <div class="col-2">
                    <img style="width: 75%;" src="assets/images/bill.png" alt="My bill" class="d-block mx-auto">
                    <figcaption style="font-size: 10px;" class="fw-bold text-center">My Bill</figcaption>
                  </div>
                  <div class="col-6">
                    <input type="number" placeholder="Enter value" [(ngModel)]="billValue" name="billValue"
                      class="form-control">
                  </div>
                  <div class="col-4">
                    <input type="text" value="kWh" class="form-control" disabled>
                  </div>
                </div>

                <div class="mt-2 mb-1">
                  <button style="margin: 5px;  background-color: rgb(36, 28, 117);;color: white;font-size: 13px;"
                    class="btn calculate" (click)="calculateRequirement()" data-bs-toggle="modal"
                    data-bs-target="#calculateResult">Calculate</button>
                  <button style="margin: 5px;  background-color: rgb(36, 28, 117);color: white;font-size: 13px;"
                    class="btn reset" type="reset" value="Reset">Reset</button>
                </div>
              </form>

              <div class="modal fade" id="calculateWindow" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h6>Calculation:</h6>
                      <h6>For EV:</h6>
                      <p>5 Miles = 1 kWh</p>
                      <p>1 kW = 25 kWh</p>
                      <p>Capacity of Power Banks Required=(EV+Utility Bill)kWh/25</p>
                      <h6>Capacity of Power Bank:</h6>
                      <p>1 Power Bank = 10 kW</p>
                      <p>Number of Power Banks Required=Capacity of Power Banks Required/10</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="calculateResult" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                  <div class="modal-content">
                    
                    <div class="modal-body bg-light">
                      <div class="mx-auto mb-2">
                        <h6 class="heading text-center">No. of Power Banks Required</h6>
                    </div>
                    <p class="text-center fw-bold pt-2 pb-2 border rounded-pill bg-white w-50 mx-auto" style="box-shadow: 0px 0px 5px lightgrey;">{{finalValue}}</p>
                    <button class="btn ok_btn ps-4 pe-4" data-bs-dismiss="modal">Ok</button>
                    </div>
                    
                  </div>
                </div>
              </div>
        
              <div class="mt-2">
                <a class="text-primary" data-bs-toggle="modal" data-bs-target="#calculateWindow">Click Here to see the
                  calculation
                </a>
              </div>

            </div>
          </div>
          <hr>
          <div class="row">
            <!-- <h5 style="text-align:center ;font-weight: bold;"> My Utility Bill</h5> -->
            <div class="col-7">
              <h6
                style="  background-color: rgb(36, 28, 117);text-align:center ;padding: 5px;font-size:17px;color: white;">
                Electricity Unit Consumption Graph in 2022</h6>
              <div class="canvas">
                <canvas id="acquisitions"></canvas>
              </div>
            </div>
            <div class="col-5">
              <h6
                style="  background-color: rgb(36, 28, 117);text-align:center ;padding: 5px;font-size:17px;color: white;">
                Billing and Payment</h6>
              <div class="bill-box">
                <div class="grid">
                  <div class="row">
                    <div class="col pb-2">
                      <!-- <img src="assets/images/outstanding bill.png" style="width: 20%;"> -->
                      <h6 style="border-radius: 5px;padding: 5px;">Outstanding Bill</h6>
                      <p><span
                          style="background-color: #fff;border-radius: 5px;border: 1px solid grey;padding: 5px;">Bill
                          Amount in USD</span> <strong
                          style="color: maroon;font-size:20px;border: 1px solid black;padding: 1px;background-color: #fff;margin-left: 20px;">$185</strong>
                        <img src="assets/images/outstanding bill.png"
                          style="width: 18%;margin-left: 17px;margin-top: -25px;">
                      </p>
                    </div>
                    <div class="col pb-3">
                      <!-- <button type="button"class=" pay" style="border:none;padding:0;cursor: pointer;"><img src="assets/images/pay.png" style="width: 70%;"></button> -->
                      <h6 style="border-radius: 5px;padding: 5px;">Payment</h6>
                      <div style="display: flex;">
                        <div class="inputs">
                          <div style="margin-bottom: 5px;">
                            <input type="radio" id="card" name="payment" value="card" style="margin: 5px;">
                            <label for="card">Pay Through Card</label>
                          </div>
                          <div>
                            <input type="radio" id="power-bank" name="payment" value="power-bank" style="margin: 5px;">
                            <label for="power-bank">Pay via Power Bank</label>
                          </div>
                        </div>
                        <img style="width: 35%;margin-left: 25px;" src="assets\images\pay now.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>


          <h5 style="text-align:center ;">My Usage Logbook</h5>
          <div class="row justify-content-center">
            <div class="col">
              <table class="table table-striped table-bordered">
                <thead class="text-white" style="text-align: center;background-color: rgba(8, 38, 86, 0.696);">
                  <tr>
                    <th scope="col">S No.</th>
                    <th scope="col">Date</th>
                    <th scope="col">Transaction Type</th>
                    <th scope="col">Transaction ID</th>
                    <th scope="col">Qty(MW)</th>
                    <th scope="col">Application</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let log of logViewData" class="logBody text-center">
                    <td>{{log.logId}}</td>
                    <td>{{log.date}}</td>
                    <td>{{log.transactionType}}</td>
                    <td>{{log.transactionId}}</td>
                    <td>{{log.quantity}}</td>
                    <td>{{log.application}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="page-btn w-100 d-flex justify-content-end">
                <pagination class="my-pagination" [totalItems]="logData.length" [directionLinks]="false"
                  (pageChanged)="showMoreLog($event)" [itemsPerPage]="5"></pagination>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-4">

        <div class="row" style="height: min-200px;">
          <div class="col">
            <h5 style="text-align: center;margin-bottom: 10px;">My Generation Capacity</h5>
            <div class="row align-items-center  p-2">
              <div class="col-8">
                <p style="font-size: 16px;" class="m-0 mb-2">Total Earned through Selling</p>
                <!-- <p style="font-size: 12px;border: 1px solid black;color: maroon;font-weight: bold;" class="m-0">$1,200</p> -->
                <input type="text" disabled value="$1,200" class="bg-white form-control w-25 m-0 p-1"
                  style="font-size: 12px;border: 1px solid black;color: maroon;font-weight: bold;">

                <a class="text-primary m-0" style="text-decoration:underline">View all your selling's</a>

              </div>
              <div class="col-4">
                <img src="../../../assets/images/earn-money.png" width="50px" height="50px">
              </div>
            </div>
            <hr class="p-0 m-0">
            <div class="row ps-3 pe-3 mt-2">
              <div class="col-6">
                <div style=" background: #eee;font-size: 12px;font-weight: bold;text-align: center;" class="p-2">
                  <img style="width: 50px;" src="assets\images\solar pannel color.png">
                  <p style="margin-bottom:0 ;">Installed Capacity</p>
                  <p style="margin-bottom:0 ;">5 kW</p>
                </div>
              </div>
              <div class="col-6">
                <div style=" background: #eee;font-size: 12px;font-weight: bold;text-align: center;" class="p-2">
                  <img style="width: 50px;transform: rotate(90deg);" src="assets\images\battery color.png"
                    class="stored">
                  <p style="margin-bottom:0 ;">Stored Capacity</p>
                  <p style="margin-bottom:0 ;">2 kW</p>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <p class="text-primary fst-italic mt-2" style="font-size: 12px;">Click Here for Past Contract details</p>

            </div>
          </div>




          <div class="grid">

            <hr style="margin-top: 0;">
            <h5 style="text-align: center;">My EV</h5>
            <div class="row box3-sub-box2">
              <div class="grid">
                <div class="row">
                  <div class="col " style="display: flex;margin: 5px;">
                    <div>
                      <figure
                        style="margin:0 10px;background: #eee;box-shadow: 0 8px 8px -4px grey;height:70%;padding:0 10px;border-radius: 5px;">
                        <img style="width:110%;padding-top: 20px;padding-bottom: 10px;"
                          src="assets/images/EV color.png">
                        <figcaption style="font-size: 13px;text-align: center;"><strong><span
                              style="font-size: large;">2</span> kW</strong>
                        </figcaption>
                      </figure>
                      <p
                        style="font-size: 13px;font-weight: bold;text-align: center;margin-top: 5px;background-color: #B0d6F5;padding:0 5px;padding-bottom:5px;width: 80%;margin-left: 15px;border-radius: 5px;">
                        EV <br>Capacity</p>
                    </div>
                    <div>
                      <figure
                        style="margin:0 10px;background: #eee;border-radius: 5px;box-shadow: 0 8px 8px -4px grey;padding:0px  10px;height:70%">
                        <img style="width: 100%;padding-top: 20px;padding-bottom: 10px;" src="assets/images/plugin.png">
                        <figcaption style="font-size: 13px;text-align: center; padding-top: 0.9rem;"><strong><span
                              style="font-size: large;">10</span> kW</strong>
                        </figcaption>
                      </figure>
                      <p
                        style="font-size: 13px;font-weight: bold;text-align: center;margin-top: 5px;background-color: #B0d6F5;padding:0 5px;width: 82%;padding-bottom:5px;margin-left: 12px;border-radius: 5px;">
                        Units
                        Consumed</p>
                    </div>
                    <div>
                      <figure
                        style="margin:0 10px;background: #eee;border-radius: 5px;box-shadow: 0 8px 8px -4px grey;padding:0px  10px;height:70%">
                        <img style="width: 100%;padding-top: 20px;padding-bottom: 25px;padding-left: 5px;"
                          src="assets/images/electric tower color.png">
                        <figcaption style="font-size: 13px;text-align: center;padding-bottom: 5px;"><strong><span
                              style="font-size: large;">4</span> kW</strong>
                        </figcaption>
                      </figure>
                      <p
                        style="font-size: 13px;font-weight: bold;text-align: center;margin-top: 5px;background-color: #B0d6F5;padding:0 5px;padding-bottom:5px;width: 77%;margin-left: 15px;border-radius: 5px;">
                        Units Passed to Grid</p>
                    </div>
                  </div>
                  <div class="col-12" style="margin:-5px 5px;">
                    <div class="bill-box" style="width: 80%;margin-left: 30px;margin-bottom: 5px;font-size: 14px;">
                      <div class="grid">
                        <div class="row">
                          <div class="col">
                            <!-- <img src="assets/images/outstanding bill.png" style="width: 20%;"> -->
                            <h6 style="border-radius: 5px;padding: 5px;">Outstanding Bill</h6>
                            <p><span
                                style="background-color: #fff;border-radius: 5px;border: 1px solid grey;padding: 5px;">Bill
                                Amount in USD</span> <strong
                                style="color: maroon;font-size:20px;border: 1px solid black;padding: 1px;background-color: #fff;margin-left: 20px;">$300</strong>
                              <img src="assets/images/outstanding bill.png"
                                style="width: 18%;margin-left: 17px;margin-top: -25px;">
                            </p>
                          </div>
                          <div class="col">
                            <!-- <button type="button"class=" pay" style="border:none;padding:0;cursor: pointer;"><img src="assets/images/pay.png" style="width: 70%;"></button> -->
                            <h6 style="border-radius: 5px;padding:0 5px;">Payment</h6>
                            <div style="display: flex;">
                              <div class="inputs">
                                <div style="margin-bottom: 5px;">
                                  <input type="radio" id="card" name="payment" value="card" style="margin: 5px;">
                                  <label for="card">Pay through card</label>
                                </div>
                                <div>
                                  <input type="radio" id="power-bank" name="payment" value="power-bank"
                                    style="margin: 5px;">
                                  <label for="power-bank">Pay via Power bank</label>
                                </div>
                              </div>
                              <img style="width: 35%;margin-left: 25px;" src="assets\images\pay now.png">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" style="margin-left: 15px;margin-top: 5px;">Click Here for Past Contract details </a>
            </div>
            <hr>
            <!-- <div class="row">
            <div class="col">
            <img style="width: 100%;" class="d-block mx-auto p-0 m-0" src="assets/images/market.png">
            </div>
          </div>
          <div class="row p-0 m-0">
            <div class="col-6">
              <img data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 100%;margin-top: 0;"
              src="assets/images/buy.png">
            </div>
            <div class="col-6">
              <img data-bs-toggle="modal" data-bs-target="#ModalSell" style="width: 100%;margin-top: 0;"
              src="assets/images/sell.png">
            </div>
          </div> -->
            <div class="row final_btn">
              <div class="col">
                <div class="row">
                  <div class="col"><button class="btn btn-primary w-100">Market</button></div>
                </div>
                <div class="row mt-2">
                  <div class="col-6"><button class="btn btn-success w-100" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">Buy</button></div>
                  <div class="col-6"><button class="btn btn-danger w-100" data-bs-toggle="modal"
                      data-bs-target="#ModalSell">Sell</button></div>
                </div>
              </div>
            </div>
            <!-- <div class="row box3-sub-box3" style="margin-top: -25px;">
            <img style="width: 250px;" class="d-block mx-auto" src="assets/images/market.png">
            <div style="width: 100%;display: inline;margin-left: 70px;margin-top: -25px;padding-top: 0;"
              class="btn-grp">

              <img data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 125px;margin-top: 0;"
                src="assets/images/buy.png">
              <app-buy></app-buy>
              <img data-bs-toggle="modal" data-bs-target="#ModalSell" style="width: 125px;margin-top: 0;"
                src="assets/images/sell.png">
              <app-sell></app-sell>
            </div>
          </div> -->
            <app-buy></app-buy>
            <app-sell></app-sell>
          </div>
        </div>
      </div>
    </div>
  </div>