<app-navbar></app-navbar>
<div class="utility">
    <div class="row  mb-4 mt-3">
        <div class="col-3 border-end">
            <h5 class="text-center heading">My Capacity</h5>
            <div class="row pb_stat justify-content-center ps-3 pe-3 pb-4">
                <div class="col">
                    <div class="row capacity_box align-items-center mb-2">
                        <div class="col">
                            <div class="row">
                                <div class="col-7 h6 cTag">
                                    Installed Capacity
                                </div>
                                <div class="col-5 cBody">
                                    7.5MW
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-7 h6 cTag ">
                                    Availability Factor
                                </div>
                                <div class="col-5 cBody">
                                    22.1%<sub>(approx.)</sub>
                                </div>
                            </div>

                        </div>
                        <hr class="border m-1 p-0">

                    </div>

                    <div class="row box align-items-center mb-2 ">
                        <div class="col-3 circle">
                            <img src="../../assets/solar-panel.png" alt="no image found" width="35px" class=" mb-1">
                        </div>
                        <div class="col-9 ps-3 pt-2 pe-2">
                            <h5>Site 1</h5>
                            <h6>Installed Capacity: 5MW</h6>
                            <h6>Availability Factor: 22.2%</h6>
                        </div>
                    </div>

                    <div class="row box align-items-center mb-2">
                        <div class="col-3 circle">
                            <img src="../../assets/solar-panel.png" alt="no image found" width="35px" class=" mb-1">
                        </div>
                        <div class="col-9 ps-3 pt-2 pe-2">
                            <h5>Site 2</h5>
                            <h6>Installed Capacity: 2.5MW</h6>
                            <h6>Availability Factor: 22%</h6>
                        </div>
                    </div>

                    <!-- <div class="row box align-items-center mb-2">
                        <div class="col-3 circle">
                            <img src="../../assets/solar-panel.png" alt="no image found" width="35px" class=" mb-1">
                        </div>
                        <div class="col-9 ps-3 pt-2 pe-2">
                            <h5>Site 3</h5>
                            <h6>Installed Capacity: 2.5MW</h6>
                            <h6>Availability Factor: 1.8MW</h6>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row border-top generatorPart">
                <app-my-generators></app-my-generators>
            </div>
        </div>
        <div class="col-9 ">
            <div class="row revenue border-bottom">
                <div class="col-5 border-end">
                    <h5 class="text-center heading">Market Summary</h5>
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item " data-bs-interval="10000">
                                <img src="../../../assets/images/gen-t1.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="10000">
                                <img src="../../../assets/images/gen-t2.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item active" data-bs-interval="10000">
                                <img src="../../../assets/images/get-t3.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span><img src="../../assets/left-arrow.png" width="25px" alt=""></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span><img src="../../assets/right-arrow.png" alt="" width="25px"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
                <div class="col-5 border-end">
                    <app-current-market></app-current-market>
                </div>
                <div class="col-2">
                    <div class="row">
                        <img src="../../../assets/ppa-button.png" alt="" data-bs-toggle="modal"
                            data-bs-target="#createPPA">
                    </div>
                    <div class="row">
                        <div class="col ppa_approve">
                            <img src="../../../assets/rpa.png" alt="" data-bs-toggle="modal" class="w-100"
                                data-bs-target="#create_power_bank">
                            <img *ngIf="this.util.newPpaRequest.getValue().status=='requested'"
                                src="../../../assets/images/warning.png" alt="" class="warning" width="20px"
                                height="20px">
                        </div>
                    </div>
                </div>
            </div>
            <app-ppa-table></app-ppa-table>


        </div>

    </div>

    <!-- <div id="chartContainer" style="height: 30px;"></div> -->




    <div class="container">
        <app-create-ppa></app-create-ppa>
        <app-create-pb></app-create-pb>
    </div>